
.rangeslider,
.rangeslider__fill {
    box-shadow: none;
    width: 50%;
    border-radius: 5px;
}

.rangeslider {
    background: #f4f4f4;
}

.rangeslider--horizontal {
    width: 100%;
    height: 10px;
}

.rangeslider__fill {
    background: #e60000;
}

.rangeslider__handle {
    border: none;
    height: 24px;
    width: 24px;
    background: #e4e5e5;
    background-image: none;
    box-shadow: 0 1px 3px rgba(56, 56, 56, 0.71);
}

.rangeslider__handle::after {
    width: 24px;
    height: 24px;
    background-color: #e4e5e5;
}

.rangeslider--horizontal .rangeslider__handle {
    top: -7px;
}

