body {
  margin: 0;
  font-family: Helvetica, sans-serif; }

input,
button,
select {
  border: none;
  outline: none; }

.info__select,
.info__text,
.info__icon,
.menu span,
button,
.card-block__card,
.services__item,
input[type='submit'],
.footer__column-social,
.footer__column-text,
.logo-box__item,
.other-services img,
.calc__range {
  cursor: pointer; }

.logo-box__item._view-in_large-screen,
.logo-box__item._view-in_tablets,
.slider__content-button._view-in_large-screen,
.card-block__card._view-in_large-screen,
.calc-small-block._view-in_tablets,
.services._view-in_large-screen,
.feedback-block._view-in_large-screen,
.column._view-in_large-screen,
.footer__column._view-in_large-screen,
.footer__flag._view-in-large-screen,
.other-services__text._view-in-large-screen {
  display: none; }

.block-border, .card-block, .services {
  border: 1px solid #bfbfbf;
  margin: 60px 0;
  color: #434343;
  padding: 0 10px 50px 10px;
  position: relative; }

.block-header {
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  background: transparent;
  left: 0;
  top: -25px; }

.button, .button_red, .button_grey, .button_parallax {
  width: 350px;
  padding: 15px 0;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-shadow: -0.1px -1px 0 rgba(93, 107, 131, 0.59); }

.button-block__field {
  padding: 0 20px; }

.button-block {
  bottom: -30px;
  left: 0;
  position: absolute;
  background: transparent;
  width: 100%;
  text-align: center; }

.header {
  width: 100%; }

.info {
  background: linear-gradient(to bottom, #ececec, #f4fbfd);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  color: #6b7c90;
  line-height: 15px;
  width: 100%;
  text-align: center; }

.info__select {
  border: 0;
  font: inherit;
  color: inherit;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  text-indent: 0.01px;
  padding: 10px 0;
  background: url(../icons/arrow.png) no-repeat right center;
  background-color: transparent; }

.info__select-city {
  width: 102px; }

.info__select-direction {
  width: 205px; }

.info__icon {
  width: 16px;
  height: 16px;
  vertical-align: baseline; }

.info__label {
  margin-right: 15px; }

.logo-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding: 15px 0; }

.logo-box__button {
  width: 185px;
  padding: 12px 0;
  border-radius: 5px;
  background-color: #e60000;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px -1px 0 rgba(75, 16, 9, 0.48); }

.menu {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;
  text-align: center; }

.menu__item {
  border-right: 1px solid #45484b;
  display: inline-block;
  padding: 15px 0;
  width: 12.41%;
  background-image: linear-gradient(to top, #000000, #ffffff), linear-gradient(#45484b, #45484b);
  background-blend-mode: overlay, normal; }

.menu__item:first-child {
  border-radius: 4px 0 0 4px; }

.menu__item:last-child {
  border-right: none;
  border-radius: 0 4px 4px 0; }

.menu__item-logo {
  width: 10px;
  height: 10px;
  background-image: url(../icons/menu.png);
  background-position: left center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: 10px;
  display: inline-block; }

.slider {
  width: 100%;
  height: 460px; }

.slider__image-block {
  width: 100%;
  height: auto;
  position: relative; }

.slider__image {
  width: 100%;
  height: auto;
  object-position: center; }

.slider__content-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.slider__content {
  color: #f4f4f4;
  width: 45%;
  margin: 100px auto 40px;
  text-align: center; }

.slider__content-header {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left; }

.slider__content-text {
  margin-bottom: 70px;
  font-size: 19px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.6;
  text-align: left; }

.slider__content-button {
  margin: 0 auto;
  width: 205px;
  padding: 16px 5px;
  background-color: #e60000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.8px;
  color: #fff;
  text-shadow: -0.1px -1px 0 rgba(0, 0, 1, 0.22); }

.card-wrapper {
  padding: 30px 20px 40px;
  background-color: #e4e5e5;
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  position: relative; }

.card-block__header {
  background: url(../images/bg.png);
  background-repeat: repeat;
  padding: 0 20px; }

.card-wrapper .button-block__field {
  background-image: url(../images/bg.png);
  background-repeat: repeat; }

.button_red {
  background: #e60000; }

.card-block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 60px 0; }

.card-block__card {
  width: 25%;
  background: #fff;
  margin: 30px 40px; }

.card-block__image {
  width: 100%;
  height: 216px;
  object-fit: cover; }

.card-block__name {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #505255;
  margin: 15px 0; }

.card-block__price {
  width: 68%;
  background-color: #f4f4f4;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: #505255;
  padding: 9.75px 0;
  margin: 0 auto 15px;
  position: relative; }

.card-block__price::before,
.card-block__price::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border: 1.13em solid #f4f4f4; }

.card-block__price::before {
  left: -1.5em;
  border-left-color: transparent; }

.card-block__price::after {
  right: -1.5em;
  border-right-color: transparent; }

.calc {
  padding: 30px 20px; }

.calc__header {
  background: #fff;
  padding: 0 20px; }

.calc {
  padding: 0 20px 50px 20px; }

.calc__offer {
  margin: 35px auto 0;
  text-align: center;
  font-size: 19px;
  width: 42%;
  padding: 10px 0; }

.calc__params {
  width: 33%;
  padding: 18px 0;
  margin: 40px auto;
  background-color: #f4f4f4;
  font-size: 19px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  position: relative; }

.calc__params::after,
.calc__params::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border: 1.52em solid #f4f4f4; }

.calc__params::before {
  left: -1.5em;
  border-left-color: transparent; }

.calc__params::after {
  right: -1.5em;
  border-right-color: transparent; }

.calc__ceiling {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0 40px; }

.calc__ceiling-card {
  width: 22%;
  border-radius: 4px;
  background-color: #e4e5e5;
  padding: 7px; }

.calc__ceiling-image {
  width: 100%;
  height: 146px; }

.calc__ceiling-card_selected {
  border-radius: 4px;
  background: url(../icons/checked.png) no-repeat right 10px bottom 20px;
  background-color: #e60000;
  position: relative; }

.calc__ceiling-card_selected::before {
  content: "";
  width: 64px;
  height: 55px;
  position: absolute;
  background-image: url(../icons/checked.png);
  background-repeat: no-repeat;
  top: 28%;
  left: 40%; }

.calc__ceiling-card_selected .calc__ceiling-text {
  color: #fff; }

.calc__ceiling-text {
  font-size: 19px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: #434343; }

.calc__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }

.calc__item {
  width: 45%; }

.calc__range-block {
  height: 20px;
  position: relative;
  display: block; }

.calc__range {
  position: relative;
  width: 424px; }

.calc__value {
  position: absolute;
  top: -44px;
  left: 1%;
  display: block;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  color: #e60000;
  text-shadow: 0px 1px 0 #ffffff; }

.calc__item-name {
  font-family: inherit;
  font-size: 19px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
  display: block;
  margin: 40px 0 60px 0; }

.calc__range {
  position: absolute;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none; }

.calc__summ-block {
  margin: 50px auto;
  width: 25%; }

.calc__summ-block-header {
  margin: 0;
  text-align: center; }

.calc__summ-block-total {
  padding: 9px 0;
  margin: 16px auto;
  font-size: 42px;
  color: #fff;
  font-style: italic;
  text-align: center;
  text-shadow: -0.1px -1px 0 rgba(0, 0, 1, 0.22);
  background-color: #e60000;
  width: 70%;
  position: relative; }

.calc__summ-block-total::before,
.calc__summ-block-total::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border: .78em solid #e60000; }

.calc__summ-block-total::before {
  left: -1em;
  border-left-color: transparent; }

.calc__summ-block-total::after {
  right: -1em;
  border-right-color: transparent; }

.calc-wrapper .button-block__field {
  background: #fff; }

.button_grey {
  background-image: linear-gradient(to top, #787878, #929292); }

.parallax {
  background-image: url(../images/room-3-min.jpeg);
  height: 100%;
  opacity: .85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.parallax__header {
  width: 100%;
  margin: 0;
  padding: 70px 0 45px;
  font-size: 55.2px;
  font-weight: 100;
  text-align: center;
  color: #555;
  text-shadow: -0.1px -1px 0 rgba(255, 255, 255, 0.75); }

.parallax__text {
  font-size: 30px;
  text-align: center;
  color: #555;
  text-shadow: -0.1px -1px 0 rgba(255, 255, 255, 0.75); }

.button_parallax {
  background: #e60000;
  margin: 70px auto; }

.services-wrapper {
  position: relative;
  margin: 70px 20px 60px; }

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px; }

.services__header {
  font-size: 37px;
  font-weight: 100;
  color: #434343;
  font-style: normal;
  background: #fff;
  padding: 0 20px; }

.services__item {
  width: 25%;
  height: auto;
  margin-top: 80px; }

.services__image {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 0 2px #bfbfbf;
  border: 3px solid #fff;
  background-image: url(../images/room-6-min.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

.services__text {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #3f4245;
  margin: 45px auto 65px; }

.services-block__image {
  display: inline-block; }

.services-block__image:first-child {
  margin-right: 13px; }

.feedback-wrapper {
  padding: 30px 20px;
  background: #f6f6f6; }

.feedback-wrapper .block-border, .feedback-wrapper .card-block, .feedback-wrapper .services {
  position: relative;
  background: #f6f6f6;
  margin: 80px auto;
  padding: 80px 0;
  text-align: center; }

.feedback-wrapper__header {
  background: #f6f6f6;
  padding: 0 20px;
  font-style: normal;
  font-weight: 100; }

.feedback-block {
  width: 32%;
  box-shadow: -0.1px -1px 2px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
  text-align: left;
  vertical-align: top;
  position: relative; }

.-without-margin {
  margin-right: 0; }

.feedback-wrapper .button-block__field {
  background: #f6f6f6; }

.feedback-block__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../images/maria.jpg);
  background-size: cover;
  box-shadow: 0 0 0 2px #bfbfbf;
  border: 3px solid #fff;
  position: absolute;
  top: -23px;
  left: 0; }

.feedback-block__person {
  margin: 25px 0 25px 100px;
  text-align: left; }

.feedback-block__person-name {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  color: #535252;
  display: block; }

.feedback-block__person-other {
  font-size: 13px;
  line-height: 1.6;
  text-align: left;
  color: #777777; }

.feedback-block__text {
  margin: 0 35px 30px 25px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #777777; }

.send-form {
  width: 100%;
  background-image: url(../images/bg-form.png);
  background-repeat: repeat;
  padding: 50px 0; }

.send-form__header {
  text-transform: uppercase;
  padding: 50px 0;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.3;
  text-align: center;
  color: #434343;
  text-shadow: -0.1px -1px 0 #ffffff;
  margin: 0; }

.send-form__text {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  color: #3f4245;
  text-shadow: -0.1px -1px 0 #ffffff;
  margin-bottom: 50px; }

.send-form__text_red {
  color: #e60000; }

.send-form form {
  text-align: center; }

.send-form__name,
.send-form__phone {
  display: inline-block;
  border-radius: 5px;
  width: 25%;
  padding: 11px 0 11px 20px;
  box-shadow: -0.1px -1px 2px 0 rgba(0, 0, 0, 0.21);
  font-size: 23px;
  text-align: left;
  color: #727272;
  text-shadow: -0.1px -1px 0 rgba(255, 255, 255, 0.59);
  margin-right: 20px; }

.send-form__name::-webkit-input-placeholder,
.send-form__phone::-webkit-input-placeholder {
  font-size: 23px;
  text-align: left;
  color: #727272;
  text-shadow: -0.1px -1px 0 rgba(255, 255, 255, 0.59); }

.send-form__phonecall {
  display: block;
  width: 20%;
  padding: 13px 0;
  background-color: #e60000;
  border-radius: 5px;
  margin: 50px auto;
  font-size: 23px;
  text-align: center;
  color: #ffffff;
  text-shadow: -0.1px -1px 0 rgba(0, 0, 1, 0.22); }

.footer-wrapper {
  width: 100%;
  background-color: #434343;
  padding-top: 30px; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative; }

.footer__column {
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #bfbfbf;
  width: 17%;
  margin-right: 45px; }

.footer__column-text {
  padding: 5px 0;
  display: block; }

.footer__column-text_cursive {
  color: #777;
  font-style: italic; }

.footer__column-text_underline {
  text-decoration: underline; }

.footer__first-column {
  text-align: right;
  margin-right: 70px; }

.footer__logo {
  padding-bottom: 23px; }

.footer__column-social {
  text-align: right;
  margin-top: 66px; }

.footer__column-social-icon {
  width: 26px;
  height: 26px;
  filter: grayscale(1.5); }

.footer__column-menu {
  margin-bottom: 30px; }

.footer__column-menu .footer__column-text:first-child {
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #bfbfbf; }

.footer__column-menu_last .footer__column-text {
  text-transform: uppercase; }

.copyrights {
  font-size: 13px;
  text-align: left;
  color: #999999;
  padding: 35px 0 30px 20px;
  border-top: 1px solid #727272;
  box-shadow: 0px -1px 1px 0 rgba(0, 0, 0, 0.54); }

.copyrights__text._underline {
  text-decoration: underline; }

.other-services {
  background: #fff;
  padding: 25px 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.other-services__text {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #6e6e6e; }

@media (min-width: 1900px) {
  .logo-box__item._hide-in_large_screen,
  .logo-box__item._view-in_tablets,
  .other-services__text {
    display: none; }

  .info {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 19.5%;
    margin: 0; }

  .logo-box {
    width: 100%;
    padding: 15px 19.5%;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-between; }

  .logo-box__item._view-in_large-screen {
    display: inline-block; }

  .menu {
    width: 62.15%; }

  .slider__content {
    text-align: left; }

  .slider__image {
    object-position: 0 -285px; }

  .slider__content-header {
    font-size: 60px; }

  .slider__content-text {
    font-size: 24px;
    margin-bottom: 44px; }

  .slider__content-button {
    width: 241px; }

  .slider__content-button._view-in_large-screen {
    display: inline;
    margin-left: 24px; }

  .card-wrapper {
    width: 100%;
    padding: 30px 19.5%;
    margin: 0;
    box-sizing: border-box; }

  .card-block__card {
    width: 20%;
    margin: 30px 20px; }

  .card-block__card._view-in_large-screen {
    display: inline-block; }

  .calc {
    width: 100%;
    padding: 30px 19.5%;
    margin: 0;
    box-sizing: border-box; }

  .parallax__header {
    font-size: 67px;
    padding: 55px 0 25px; }

  .parallax__text {
    font-size: 36px; }

  .button_parallax {
    margin: 55px auto 65px; }

  .services-wrapper {
    width: 100%;
    padding: 0 19.5% 60px;
    margin: 0;
    box-sizing: border-box; }

  .services._view-in_large-screen {
    display: flex;
    justify-content: center;
    align-items: stretch; }

  .service-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0 30px 30px;
    margin: 0 20px;
    width: 50%; }

  .service-block__header {
    font-size: 37.9px;
    font-weight: 100;
    line-height: 1.19;
    text-align: left;
    color: #595859;
    text-transform: uppercase; }

  .service-block__offer {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #777777;
    width: 79%; }

  .service-block__link {
    font-size: 17px;
    line-height: 1.24;
    text-align: left;
    color: #6b7c90;
    text-shadow: -0.1px -1px 0 rgba(255, 255, 255, 0.75); }

  .feedback-wrapper {
    width: 100%;
    padding: 30px 19.5%;
    margin: 0;
    box-sizing: border-box; }

  .feedback-wrapper .block-border, .feedback-wrapper .card-block, .feedback-wrapper .services {
    margin: 60px auto;
    padding: 80px 0 40px; }

  .feedback-block {
    margin-right: 30px;
    width: 30%; }

  .feedback-block._view-in_large-screen {
    display: inline-block;
    margin-right: 0; }

  .send-form__header {
    width: 45%;
    margin: 0 auto; }

  .send-form input {
    width: 18.5%; }

  .send-form__phonecall {
    display: inline-block;
    margin: 0; }

  .footer {
    padding: 0 19.5%; }

  .footer__column-menu_last .footer__column-text:first-child {
    padding: 0;
    border: none; }

  .footer__column._view-in_large-screen {
    display: inline-block; }

  .footer__flag._view-in-large-screen {
    display: block;
    position: absolute;
    bottom: 55px;
    right: 555px;
    width: 21%;
    background-color: #bfbfbf;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 1;
    text-align: left;
    color: #434343;
    padding: 11px 0 11px 20px; }

  .footer__flag::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border: 1.11em solid #bfbfbf;
    right: -1.5em;
    border-right-color: transparent; }

  .copyrights {
    padding: 35px 19.5%;
    text-align: left; }

  .other-services {
    padding: 25px 19.5% 35px;
    justify-content: space-around; }

  .other-services__text._view-in_large-screen {
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    color: #6e6e6e; } }
@media (max-width: 959px) {
  .info__label,
  .info__item._hide-in_tablets,
  .info__social,
  img[alt*='calculator'],
  img[alt*='price'],
  .logo-box__button,
  .logo-box__item._view-in_large-screen,
  .menu,
  .card-block__card:nth-child(n+6),
  .calc,
  .other-services__text,
  .feedback-block:nth-child(n+4),
  .footer__column:nth-child(3) {
    display: none; }

  .info,
  .logo-box {
    justify-content: space-around; }

  .logo-box__item._hide-in_large-screen,
  .logo-box__item._view-in_tablets {
    display: inline-block;
    cursor: pointer; }

  .info__select {
    font-size: 12px; }

  .block-header {
    font-size: 35px; }

  .slider {
    height: 415px; }

  .slider__content {
    width: 60%; }

  .slider__image {
    height: 415px;
    width: 100%;
    object-position: center; }

  .slider__content-header {
    margin: 40px auto 0; }

  .slider__content-text {
    margin: 40px auto; }

  .card-block {
    justify-content: center;
    padding: 30px 0 60px; }

  .block-border, .card-block, .services {
    margin: 30px 0; }

  .card-block__card {
    width: 38%; }

  .calc-small-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    padding: 30px;
    margin: 40px auto;
    width: 85%; }

  .calc-small-block__text {
    width: 44%;
    text-align: left; }

  .calc-small-block__header {
    font-size: 38px;
    font-weight: 500;
    font-style: italic;
    color: #595859;
    text-transform: uppercase;
    margin: 0; }

  .calc-small-block__offer {
    font-size: 14px;
    line-height: 1.5;
    color: #777777;
    margin: 23px 0 28px; }

  .calc-small-block__link {
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.25;
    color: #6b7c90;
    text-shadow: -0.1px -1px 0 rgba(255, 255, 255, 0.75);
    cursor: pointer; }

  .calc-small-block__image {
    width: 180px;
    height: 184px; }

  .parallax__header {
    font-size: 47px; }

  .parallax__text {
    font-size: 22px; }

  .services {
    padding: 0 10px 40px; }

  .services__item {
    width: 50%;
    margin-top: 45px; }

  .services__text {
    margin: 40px auto 0; }

  .feedback-block {
    width: 87%;
    display: block;
    margin: 50px auto; }

  .feedback-wrapper .block-border, .feedback-wrapper .card-block, .feedback-wrapper .services {
    margin: 50px auto;
    padding: 0 0 40px; }

  .feedback-block__person {
    padding: 25px 0 25px 100px;
    margin: 0; }

  .feedback-block__text {
    padding: 0 0 30px 28px;
    margin: 0; }

  .send-form__header {
    font-size: 26px;
    padding: 0 0 40px;
    width: 83%;
    margin: 0 auto; }

  .send-form__text {
    margin-bottom: 0; }

  .send-form__text_red {
    display: block;
    line-height: 1.5; }

  .send-form__name,
  .send-form__phone {
    display: block;
    width: 47%;
    margin: 40px auto; }

  .send-form__phonecall {
    display: block;
    width: 50%;
    margin: 50px auto 0; }

  .footer {
    justify-content: space-around; }

  .footer__column,
  .footer__first-column {
    margin: 0;
    width: 23%; }

  .copyrights {
    padding-left: 20px;
    text-align: left; }

  .other-services {
    justify-content: space-around; } }
@media (max-width: 669px) {
  ._hide-in_phones,
  img[alt='telephone'],
  .parallax,
  .services-wrapper,
  .footer__column:not(.footer__first-column),
  .footer__column-menu,
  .footer__column-social,
  .copyrights__text._hide-in_tablets {
    display: none; }

  .info {
    justify-content: flex-start; }

  .info__item {
    padding-left: 23px; }

  .info__select {
    font-size: 16px; }

  .block-border, .card-block, .services {
    border: none; }

  .slider {
    height: 330px; }

  .slider__image {
    height: 330px; }

  .slider__content {
    width: 95%;
    margin: 80px 0 30px 20px;
    text-align: center; }

  .slider__content-header {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.3px;
    text-align: left;
    color: #fff;
    margin: 30px auto 0; }

  .slider__content-text {
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 30px auto 35px; }

  .card-block__header {
    font-size: 27px;
    padding: 0; }

  .card-block__card {
    width: 85%;
    margin: 40px 20px 0; }

  .card-block__name {
    font-size: 20px; }

  .button, .button_red, .button_grey, .button_parallax {
    width: 280px;
    font-size: 19px; }

  .button-block__field {
    padding: 0; }

  .calc-small-block {
    margin: 20px auto;
    padding: 20px 0 30px 10px;
    width: 90%; }

  .calc-small-block__text {
    width: 55%; }

  .calc-small-block__header {
    font-size: 27px; }

  .calc-small-block__link {
    font-size: 15px; }

  .calc-small-block__image {
    width: 35%;
    height: 100%;
    align-self: flex-end; }

  .feedback-wrapper__header {
    font-size: 27px;
    padding: 0; }

  .feedback-block {
    width: 98%; }

  .feedback-block__person {
    padding: 25px 20px 25px 100px; }

  .feedback-block__text {
    padding-bottom: 28px;
    margin: 0 22px 30px; }

  .feedback-wrapper .block-border, .feedback-wrapper .card-block, .feedback-wrapper .services {
    margin: 50px auto 20px;
    padding: 40px 0 20px; }

  .send-form {
    padding: 30px 0; }

  .send-form__header {
    padding: 0;
    font-size: 23px;
    width: 77%;
    margin: 0 auto; }

  .send-form__text {
    margin: 20px auto 15px;
    width: 74%; }

  .send-form__name,
  .send-form__phone {
    width: 85%;
    font-size: 19px; }

  .send-form__name::-webkit-input-placeholder,
  .send-form__phone::-webkit-input-placeholder {
    font-size: 19px; }

  .send-form__name {
    margin: 0 auto 20px; }

  .send-form__phone {
    margin: 0 auto; }

  .send-form__phonecall {
    width: 91%;
    margin: 30px auto 0;
    font-size: 19px; }

  .footer-wrapper {
    padding: 0; }

  .footer__logo {
    align-self: center; }

  .footer__logo,
  .footer__column-text.footer__column-text_underline {
    text-align: right;
    width: 35%;
    height: 32px; }

  .footer__column-text.footer__column-text_underline {
    align-self: flex-end;
    vertical-align: bottom;
    margin-top: 34px; }

  .footer__first-column {
    width: 100%;
    margin: 40px auto 10px; }

  .footer__column-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch; }

  .footer__column-mobile_reverse {
    flex-direction: row-reverse; }

  .footer__column-mobile-item {
    text-align: left;
    width: 35%; }

  .copyrights {
    padding: 20px; }

  .other-services {
    padding: 25px 0 40px;
    display: block; }

  .other-services__image {
    display: block;
    margin: 0 auto; }

  .other-services__image_center {
    margin: 20px auto; } }

/*# sourceMappingURL=app.css.map */
